:global {
  .editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
      padding: 4px 8px;
  }
}